{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Error 404</h1>
                <p class="text-center">Page not found :(</p>
                <p class="text-center">
                    <img src="{{ url_for('static', filename='img/404.png') }}" class="rounded img-fluid" alt="Pure Sadness">
                </p>
            </div>
        </div>
    </div>
{% endblock %}
