{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">My Pizza</h1>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">My Stats</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">New Pizza</h5>
                </div>
                <div class="card-body">
                    <p>Simply submit a photo of your pizza here to add it to your account.
                    (Support for multi-user pizzas is coming soon.)</p>
                    <form method=POST enctype=multipart/form-data action="{{ url_for('pizza.upload') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile" name="photo">
                          <label class="custom-file-label" for="customFile">Choose Image File</label>
                        </div>

                        <div class="form-group">
                            <label for="type">Select the type of pizza: </label>
                            <select name="type" class="form-control">
                                {% for type in pizza_types %}
                                    <option value="{{ type.slug }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="type">Select restaurant: </label>
                            <select name="restaurant" class="form-control">
                                {% for res in restaurants %}
                                    <option value="{{ res.slug }}">{{ res.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn">
                    </form>
                </div>
            </div>
        </div>

        {% for pizza_batch in pizzas | batch(3, '&nbsp;') %}
            <div class="card-deck" style="margin: 10px 0 0 0">
                {% for pizza in pizza_batch %}
                    <div class="card">
                        <img class="card-img-top" src="static/img/pizza.jpg">
                        <div class="card-body">
                          <h5 class="card-title">{{ pizza.date_time }}</h5>
                            <p class="card-text">Type: {{ pizza.pizza_type}}</p>
                            <p class="card-text">Restaurant: {{ pizza.restaurant }}</p>
                            <p class="card-text text-center">
                                <div class="btn-group" role="group"><a class="btn btn-info" role="button" href="#">Edit&nbsp;</a><a class="btn btn-danger" role="button" href="#">Delete</a></div>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}
