{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Submit A New Pizza</h1>
                <p>Simply submit a photo of your pizza here to add it to your account.
                (Support for multi-user pizzas is coming soon.)</p>
                <form method=POST enctype=multipart/form-data action="{{ url_for('pizza.upload') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label>Submit a centered image of your pizza: </label><input type="file" name="photo">
                    <label>Select the type of pizza: </label><select name="types">
                        {% for type in pizza_types %}
                        <option value="{{ type.slug }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
